@import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab&family=Ephesis&display=swap');

:root {
    --main-text-color: #000;
    --header-height: 75px;

    /* mobile url-bar height */
    --mobile-url-bar-height: 55px;

    /* Coolors */
    --davys-grey: #4f4a41ff;
    --alice-blue: #dcedffff;
    --key-lime: #ecfeaaff;
    --middle-purple: #d282a6ff;
    --oxford-blue: #030027ff;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Arbutus Slab", sans-serif;
}

h1, h2 {
    font-family: Ephesis, sans-serif;
    color: var(--oxford-blue);
}

h2 {
    text-align: center;
    font-size: 280%;
    margin-bottom: 1rem;
}

/* General classes */
.float-right {
    float: right;
}

.hr-space {
    margin: 10px;
}

.hr-default {
    margin: 15px 0;
    border: 1px solid var(--davys-grey);
    box-shadow: 0 0 10px 2px var(--davys-grey);
    width: 100vw;
}

/* Logo and header */

body > header {
    height: var(--header-height);
}

header a {
    text-decoration: none;
}

#logo {
    font-size: 200%;
    margin-left: 1rem;
    letter-spacing: .2em;
    float: left;
}

#logo abbr {
    text-decoration: none;
}

/* Main nav links */

#menu {
    float: right;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    list-style-type: none;
    margin-right: 1rem;
    float: left;
}

#menu a:hover {
    text-decoration: underline;
}

.active {
    text-decoration: underline;
}

/* section styling after the header */

header ~ section {
    margin: 0 2%;
    clear: both;
}

/* Hero image and cover text*/

#hero-wrapper {
    margin: unset;
    width: 100%;
    position: relative;
}

#hero-image{
    height: calc(100vh - var(--header-height) - var(--mobile-url-bar-height));
    width: 100%;
    background: #4f4a41 url(../images/main-image.jpg) no-repeat center bottom / auto 100%;
    position: relative;
    clear: both;
    margin: 0;
}

#hero-image::before, #hero-image::after {
    content: "";
    display: block;
    width: 100%;
    height: 20px;
    background: linear-gradient(#4f4a4100, var(--davys-grey), #4f4a4100);
    position: absolute;
}

#hero-image::before {
    top:-10px;
}

#hero-image::after {
    bottom:-10px;
}

#cover-text {
    position: absolute;
    top: 10%;
    right: 1rem;
    background: var(--oxford-blue);
    padding: .5rem;
    border: var(--alice-blue) 2px solid;
    border-radius: 6px;
    transform: rotateZ(12deg);
}

#cover-text > h2 {
    color: var(--key-lime);
    word-wrap: normal;
    font-size: 150%;
    margin-bottom: unset;
}

/* Same-page internal nav links */

#local-nav {
    position: sticky;
    top: 0;
    width: 100%;
    height: var(--mobile-url-bar-height);
    z-index: 10;
}

#local-nav > nav > ul {
    text-align: center;
    background-color: var(--davys-grey);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#local-nav li {
    display: inline-block;
    line-height: var(--mobile-url-bar-height);
    list-style-type: none;
    margin: 0 3%;
}

#local-nav a {
    color: var(--alice-blue);
    text-transform: uppercase;
    text-decoration: none;
    padding: calc((var(--mobile-url-bar-height) - 1.3rem) / 2) 0;
}

#local-nav a:hover {
    color: var(--key-lime);
}

/* Main content wrapper */

main {
    margin: 0 2%;
    clear: both;
}

/* Introduction and youtube video */

#intro {
    padding-top: var(--mobile-url-bar-height);
}

#yt-video {
    width: 100%;
    height: calc(100vw * 0.54);
}

/* History and timeline */
#history-timeline {
    padding-top: var(--mobile-url-bar-height);
}

#history-timeline header{
    position: sticky;
    top: var(--mobile-url-bar-height);
    z-index: 5;
    background-color: white;
    padding-left: 2rem;
}

#history-timeline > article h3::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    width: 0.5rem;
    height: 0.5rem;
    border: 5px solid var(--oxford-blue);
    left: 0.27rem;
    top: 0.45rem;
    border-radius: 50%;
}

#history-timeline > article section {
    margin-left: .5rem;
    border-left: 3px solid var(--oxford-blue);
    padding-left: .5rem;
}


/* Address details and embedded map */
#address {
    padding-top: var(--mobile-url-bar-height);
}

#address iframe {
    width: 100%;
}

/* Social media links and icons */
footer {
    clear: both;
}

#social-networks {
    line-height: 2.5rem;
    text-align: center;
}

#social-networks > li{
    display: inline-block;
    margin: 0 5%;
}

#social-networks i {
    color: var(--oxford-blue);
    font-size: 300%;
}

/* Event cards */
#event-cards-container {
    margin: unset;
    padding: 2%;
    box-sizing: border-box;
    width: 100%;
    background-color: var(--davys-grey);
}

#event-cards-container > div {
    margin-bottom: 2%;
    padding: 0.2rem 1rem;
    border-radius: 10px;
    color: var(--oxford-blue);
    background-color: var(--alice-blue);
    overflow: auto;
}

#event-cards-container > div:last-child {
    margin: 0;
}

#event-cards-container h3 {
    color: var(--davys-grey);
}

/* Subscription Form */
fieldset {
    margin-bottom: 0.5rem;
    padding: 1rem 0.3rem 0.3rem 1rem;
    box-shadow: 0 -5px 5px 1px var(--alice-blue);
    background-color: var(--alice-blue);
}

fieldset > legend {
    padding: 0 1rem;
    border-radius: 1rem;
    background-color: var(--alice-blue);
}

fieldset > span {
    white-space: nowrap;
    margin-right: 1rem;
}

#name, #email, button[type="submit"] {
    font-size: inherit;
    font-family: inherit;
    color: var(--oxford-blue);
    background-color: var(--key-lime);
}

#form-details label, #form-details input {
    line-height: 2rem;
}

#form-details label {
    display: inline-block;
    width: 3.6rem;
}

#form-details input {
    width: calc(100% - 4rem);
    padding: 0 0.3rem;
    border: 1px solid var(--middle-purple);
    box-sizing: border-box;
}

#form-details ~ fieldset > span{
    line-height: 2rem;
}

button[type="submit"] {
    padding: 0.2rem 0.5rem;
    border: 2px solid var(--middle-purple);
    border-radius: 0.5rem;
    font-size: 1.5rem;
    color: var(--oxford-blue);
}

button[type="submit"]:hover {
    background-color: var(--middle-purple);
}

button[type="submit"]:active {
    background-color: #0000;
}

input[type="reset"] {
    padding: 0.7rem 0;
    transition: opacity ease-out 0.3s;
}

input[type="reset"]:active {
    opacity: 0;
}

/* Gallery */

#gallery-content img {
    width: 100%;
}

#gallery-content > hr {
    position: relative;
    left: -2%;
}

/* Media queries */
@media (orientation: landscape) {
    #hero-image {
        background-position: center center;
        background-size: 100% auto;
    }
}

/* Medium screen sizes */
@media screen and (min-width: 992px) {
    body {
        font-size: 22px;
    }

    /* Home page */
    #hero-image {
        height: calc(100vh - var(--header-height));
    }

    #local-nav {
        width: 9rem;
        top: calc(5 * var(--mobile-url-bar-height));
        left: 2%;
    }

    #local-nav > nav {
        position: relative;
        bottom: calc(4 * var(--mobile-url-bar-height));
    }

    #local-nav > nav > ul {
        border-radius: 10px;
    }

    #local-nav li {
        display: block;
    }

    #local-nav a {
        padding: calc((var(--mobile-url-bar-height) - 1.3rem) / 2)
    }

    main {
        margin: 0 2% 0 calc(2% + 8rem + 2%);
    }

    #intro {
        min-height: 50vh;
    }

    .left-third {
        float: left;
        width: 33%;
    }

    .right-two-third {
        float: right;
        width: 66%;
    }

    #yt-video {
        height: calc(57vw * 0.54);
        width: 66%;
    }

    #history-timeline {
        clear: both;
    }

    #history-timeline header {
        top: 0;
    }

    #history-timeline > article h3::before {
        top: 0.7rem;
    }

    /* Gallery page */
    #gallery-content > h2 {
        clear: both;
    }

    #gallery-content > img {
        width: 66%;
        float: left;
    }

    #gallery-content > p {
        width: 33%;
        float: right;
    }

    #gallery-content > hr {
        float: left;
    }

    #gallery-content > img:nth-of-type(2n) {
        float: right;
    }

    #gallery-content > p:nth-of-type(2n) {
        float: left;
    }
}