@import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab&family=Ephesis&display=swap');

:root {
    --main-text-color: #000;
    --header-height: 75px;

    /* mobile url-bar height */
    --mobile-url-bar-height: 55px;

    /* Coolors */
    --davys-grey: #4f4a41ff;
    --alice-blue: #dcedffff;
    --key-lime: #ecfeaaff;
    --middle-purple: #d282a6ff;
    --oxford-blue: #030027ff;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Arbutus Slab", sans-serif;
}

h1, h2 {
    font-family: Ephesis, sans-serif;
    color: var(--oxford-blue);
}

h2 {
    text-align: center;
    font-size: 170%;
    margin-bottom: 1rem;
}

/* Logo and header */

header a {
    text-decoration: none;
}

#logo {
    font-size: 200%;
    margin-left: 1rem;
    letter-spacing: .2em;
    float: left;
}

#logo abbr {
    text-decoration: none;
}

/* Main nav links */

#menu {
    float: right;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    list-style-type: none;
    margin-right: 1rem;
    float: left;
}

#menu a:hover {
    text-decoration: underline;
}

.active {
    text-decoration: underline;
}

/* Hero image and cover text*/

#hero {
    height: calc(100vh - var(--header-height) - var(--mobile-url-bar-height));
    width: 100%;
    background: #4f4a41 url(../images/main-image.jpg) no-repeat center bottom / auto 100%;
    position: relative;
    clear: both;
}

#hero::before {
    content: "";
    display: block;
    width: 100%;
    height: 20px;
    background: linear-gradient(#4f4a4100, var(--davys-grey), #4f4a4100);
    position: relative;
    top: -10px;
}

#cover-text {
    position: absolute;
    top: 10%;
    right: 1rem;
    background: var(--oxford-blue);
    padding: .5rem;
    border: var(--alice-blue) 2px solid;
    border-radius: 6px;
    transform: rotateZ(12deg);
}

#cover-text > h2 {
    color: var(--key-lime);
    word-wrap: normal;
    font-size: 150%;
    margin-bottom: unset;
}

/* Same-page internal nav links */

#local-nav {
    position: sticky;
    top: 0;
    width: 100%;
    height: var(--mobile-url-bar-height);
    z-index: 10;
}

#local-nav::before {
    content: "";
    display: block;
    width: 100%;
    height: 15px;
    background: linear-gradient(#4f4a4100,var(--davys-grey));
    position: absolute;
    top: -10px;
}

#local-nav > ul {
    text-align: center;
    background-color: var(--davys-grey);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#local-nav li {
    display: inline-block;
    line-height: var(--mobile-url-bar-height);
    list-style-type: none;
    margin: 0 3%;
}

#local-nav a {
    color: var(--alice-blue);
    text-transform: uppercase;
    text-decoration: none;
}

#local-nav a:hover {
    color: var(--key-lime);
}

/* section styling after the hero image */

#hero ~ section {
    margin: 0 2%;
}

/* Introduction and youtube video */

#intro {
    padding-top: var(--mobile-url-bar-height);
}

#yt-video {
    width: 100%;
    height: calc(100vw * 0.54);
}

/* History and timeline */
#history-timeline {
    padding-top: var(--mobile-url-bar-height);
}

#history-timeline header{
    position: sticky;
    top: var(--mobile-url-bar-height);
    z-index: 5;

    background-color: white;
    padding-left: 2rem;
}

article h3::before {
    content: "";
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 0.5rem;
    height: 0.5rem;
    border: 5px solid var(--oxford-blue);
    left: 0.27rem;
    top: 0.45rem;
    border-radius: 50%;
}

article section {
    margin-left: .5rem;
    border-left: 3px solid var(--oxford-blue);
    padding-left: .5rem;
}


/* Address details and embedded map */
#address iframe {
    width: 100%;
}

/* Social media links and icons */
#social-networks {
    line-height: 2.5rem;
    text-align: center;
}

#social-networks > li{
    display: inline-block;
    margin: 0 5%;
}

#social-networks i {
    color: var(--oxford-blue);
    font-size: 300%;
}

/* Media queries */
@media (orientation: landscape) {
    #hero {
        background-position: center center;
        background-size: 100% auto;
    }
}